@model CentroCuidoAnimal.ViewModels.RegistroAnimal_ViewModel

@{
    ViewBag.Title = "Confirmacion";
}

<h2>Confirmación</h2>

<h3>Datos del Animal</h3>
<p><strong>Nombre:</strong> @Model.sNombre</p>
<p><strong>Peso:</strong> @Model.dPeso</p>
<p><strong>Vacunado:</strong> @(Model.bVacunado ? "Sí" : "No")</p>

<h3>Información Recibo</h3>
<p><strong>Fecha:</strong> @Model.dtFechaRecibo</p>
<p><strong>Responsable:</strong> @Model.sNombrePersonaResponsable</p>
<p><strong>Ubicación:</strong> @Model.sUbicacionIncidente</p>

@using (Html.BeginForm("ConfirmacionGuardar", "Animal", FormMethod.Post))
{
    <button type="submit" class="btn btn-success">
        Confirmar y Guardar
    </button>
}